@-webkit-keyframes ball0_animation{
0%  {background:red;opacity: .5; left:180px; top:270px;width: 40px;height: 40px;}
10%  {background: red;opacity: .45; left:170px; top:260px;width: 60px;height: 60px;}
20%  {background: red;opacity: .4; left:160px; top:250px;width: 80px;height: 80px;}
30%  {background: red;opacity: .35; left:150px; top:240px;width: 100px;height: 100px;}
40%  {background: red;opacity: .3; left:140px; top:230px;width: 120px;height: 120px;}
50%  {background: red;opacity: .25; left:130px; top:220px;width: 140px;height: 140px;}
60%  {background: red;opacity: .2; left:120px; top:210px;width: 160px;height: 160px;}
70%  {background: red;opacity: .15; left:110px; top:200px;width: 180px;height: 180px;}
80%  {background: red;opacity: .1; left:100px; top:190px;width: 200px;height: 200px;}
90%  {background: red;opacity: .08; left:90px; top:180px;width: 220px;height: 220px;}
100% {background: red;opacity: .06; left:80px; top:170px;width: 240px;height: 240px;}
    }
@-webkit-keyframes ball1_animation{
0%  {background:white;opacity:.7;left:4px; top:4px;width: 6px;height: 6px;}
25%  {background: white;opacity:.7;left:2px; top:2px;width: 8px;height: 8px;}
50%  {background: white;opacity:.7; left:0px; top:0px;width: 10px;height: 10px;}
75%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
100% {background: white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
    }

@-webkit-keyframes ball2_animation{
0%  {background:white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
25%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
50%  {background: white;opacity:.7; left:0px; top:0px;width: 10px;height: 10px;}
75%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
100% {background: white;opacity:.7; left:4px; top:4px;width: 5px;height: 5px;}
    }


@-webkit-keyframes ball3_animation{
0%  {background:white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
25%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
50%  {background: white;opacity:.7; left:0px; top:0px;width: 10px;height: 10px;}
75%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
100% {background: white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
    }


@-webkit-keyframes ball4_animation{
0%  {background:white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
25%  {background: white;opacity:.7; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white;opacity:.7; left:0px; top:0px;width: 10px;height: 10px;}
75%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
100% {background: white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
    }

@-webkit-keyframes ball5_animation{
0%  {background:white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
25%  {background: white;opacity:.7; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white;opacity:.7; left:0px; top:0px;width: 10px;height: 10px;}
75%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
100% {background: white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
    }

@-webkit-keyframes ball6_animation{
0%  {background:white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
25%  {background: white; opacity:.7;left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white; opacity:.7;left:0px; top:0px;width: 10px;height: 10px;}
75%  {background: white; opacity:.7;left:2px; top:2px;width: 8px;height: 8px;}
100% {background: white; opacity:.7;left:4px; top:4px;width: 6px;height: 6px;}
    }

@-webkit-keyframes ball7_animation{
0%  {background:white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
25%  {background: white; opacity:.7;left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white;opacity:.7; left:0px; top:0px;width: 10px;height: 10px;}
75%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
100% {background: white;opacity:.7;left:4px; top:4px;width: 6px;height: 6px;}
    }

@-webkit-keyframes ball8_animation{
0%  {background:white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
25%  {background: white;opacity:.7; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white;opacity:.7; left:0px; top:0px;width: 10px;height: 10px;}
75%  {background: white;opacity:.7; left:2px; top:2px;width: 8px;height: 8px;}
100% {background: white;opacity:.7; left:4px; top:4px;width: 6px;height: 6px;}
    }

#frame0{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#frame1{
    position: absolute;
    top:363px;
    left: 30px;
    width: 50px;
    height: 20px;
}
#frame2{
    position: absolute;
    top:251px;
    left: 234px;
    width: 50px;
    height: 20px;
}
#frame3{
    position: absolute;
    top:345px;
    left: 140px;
    width: 50px;
    height: 20px;
}
#frame4{
    position: absolute;
    top:220px;
    left: 176px;
    width: 50px;
    height: 20px;
}
#frame5{
    position: absolute;
    top:245px;
    left: 106px;
    width: 50px;
    height: 20px;
}
#frame6{
    position: absolute;
    top:293px;
    left: 95px;
    width: 50px;
    height: 20px;
}
#frame7{
    position: absolute;
    top:309px;
    left: 37px;
    width: 50px;
    height: 20px;
}
#frame8{
    position: absolute;
    top:280px;
    left: 28px;
    width: 50px;
    height: 20px;
}
#frame9{
    position: absolute;
    top:265px;
    left: 170px;
    width: 50px;
    height: 50px;
}
#Time_frame_1{
    position: absolute;
    top:23%;
    width: 90%;
    left: 5%;
    height:50px;
}
#Time_frame_2{
    position: absolute;
    top:28%;
    width: 90%;
    left: 5%;
    height:50px;
}
#Time_frame_3{
    position: absolute;
    top:38%;
    width: 90%;
    left: 5%;
    height:50px;
}
#Time_frame_4{
    position: absolute;
    top:50%;
    width: 90%;
    left: 5%;
    height:50px;
}
#Time_frame_5{
    position: absolute;
    top:63%;
    width: 90%;
    left: 5%;
    height:50px;
}
#Time_frame_6{
    position: absolute;
    top:76%;
    width: 90%;
    left: 5%;
    height:50px;
}
#Time_frame_7{
    position: absolute;
    top:85%;
    width: 90%;
    left: 5%;
    height:50px;
}
*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
body{
    font-family:"microsoft yahei";
}
.swiper-container {
    /*  width: 320px;
      height: 480px;*/
    width: 100%;
    height: 100%;
    background:#fff;

}
@media(min-width: 321px){
    #map_cover{-webkit-transform:scale(1.2,1.2);position:absolute;top:0px;left: 0px;}
    #Time_tooltip{-webkit-transform:scale(1.2,1.2);position:absolute;top:0px;left: 0px;}
    #map_box_1{margin-left: -5px;}
    #map_box_2{margin-left: -5px;}
    #map_box_3{margin-left: -5px;}
    #map_box_4{margin-left: -5px;}
    #map_box_5{margin-left: -5px;}
    #map_box_6{margin-left: -5px;}
    #map_box_7{margin-left: -5px;}
    #map_box_8{margin-left: -5px;}
    #map_box_9{margin-left: -5px;}
    #time_box_1{margin-left: -5px;}
    #time_box_2{margin-left: -5px;}
    #time_box_3{margin-left: -5px;}
    #time_box_4{margin-left: -5px;}
    #time_box_5{margin-left: -5px;}
    #time_box_6{margin-left: -5px;}
    #time_box_7{margin-left: -5px;}
}
@media(min-width: 400px){
    #map_cover{-webkit-transform:scale(1.3,1.3);position:absolute;top:0px;left: 0px;}
    #Time_tooltip{-webkit-transform:scale(1.3,1.3);position:absolute;top:0px;left: 0px;}

}
.swiper-slide{
    width:100%;
    height:100%;
}
img{
    display:block;
}
.s0{
    background: url("../img/cover.jpg") no-repeat left bottom;
    background-size: 100% auto;
}
.s1{
background-color: black;   background-size: 100% 100%;
}
.s2{
background-color: black;    background-size: 100% 100%;
}
.s3{
background-color: black;    background-size: 100% 100%;
}
.s4{
background-color: black;    background-size: 100% 100%;
}
.s5{
background-color: black;
}
#ball0{
    -webkit-animation: ball0_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball1{
    -webkit-animation: ball1_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball2{
    -webkit-animation: ball2_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball3{
    -webkit-animation: ball3_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball4{
    -webkit-animation: ball4_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball5{
    -webkit-animation: ball5_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball6{
    -webkit-animation: ball6_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball7{
    -webkit-animation: ball7_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball8{
    -webkit-animation: ball7_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}

    *{
        margin: 0;
        padding: 0;
    }

.slider-m {position:relative;visibility:hidden;overflow:hidden;margin-top:30px;width: 100%}
.slider-m ul{width:100%;position:relative;overflow:hidden}
.slider-m ul li{position:relative;float:left;width:100%}
.slider-m img{width:100%;height:auto;bottom:0;}
.slider-mo  ol{position:absolute;top:240px;left:0;z-index:100;width:100%;text-align:center}
.slider-mo  ol li{display:inline-block;width:6px;height:6px;background:rgba(204,204,204,0.7);border-radius:50%;cursor:pointer;font:0 sans-serif;margin:0 5px}
.slider-mo  ol li.current{background:#faae19;}
.map_content{
    position: absolute;
    top:300px;
    color: white;
    width:90%;
    left:5%;
    font-size: 12px;
    text-indent:2em;
}
.map_box{
    background-color: black;
    opacity:.9;
    position: absolute;
    top: 30px;
    left:24px;
    width:272px;
    height:450px;
    z-index: 10;
}


.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: .4;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
/*@media (max-height:673px){
    .resize{-webkit-transform:scale(0.88,0.88)translateY(-45px);}
}*/
@-webkit-keyframes tipmove{0%{bottom:10px;opacity:0}50%{bottom:15px;opacity:1}100%{bottom:20px;opacity:0}}
.ani{
    position:absolute;
}
.txt{
    position:absolute;
}
#array{
    position:absolute;z-index:999;-webkit-animation: tipmove 1.5s infinite ease-in-out;
}