@-webkit-keyframes ball1_animation{
0%  {background:white; left:0px; top:0px;width: 5px;height: 5px;}
25%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white; left:0px; top:0px;width: 12px;height: 12px;}
75%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
100% {background: white; left:0px; top:0px;width: 5px;height: 5px;}
    }

@-webkit-keyframes ball2_animation{
0%  {background:white; left:0px; top:0px;width: 5px;height: 5px;}
25%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white; left:0px; top:0px;width: 12px;height: 12px;}
75%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
100% {background: white; left:0px; top:0px;width: 5px;height: 5px;}
    }


@-webkit-keyframes ball3_animation{
0%  {background:white; left:0px; top:0px;width: 5px;height: 5px;}
25%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white; left:0px; top:0px;width: 12px;height: 12px;}
75%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
100% {background: white; left:0px; top:0px;width: 5px;height: 5px;}
    }


@-webkit-keyframes ball4_animation{
0%  {background:white; left:00px; top:0px;width: 5px;height: 5px;}
25%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white; left:0px; top:0px;width: 12px;height: 12px;}
75%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
100% {background: white; left:0px; top:0px;width: 5px;height: 5px;}
    }

@-webkit-keyframes ball5_animation{
0%  {background:white; left:0px; top:0px;width: 5px;height: 5px;}
25%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white; left:0px; top:0px;width: 12px;height: 12px;}
75%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
100% {background: white; left:0px; top:0px;width: 5px;height: 5px;}
    }

@-webkit-keyframes ball6_animation{
0%  {background:white; left:0px; top:0px;width: 5px;height: 5px;}
25%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
50%  {background: white; left:0px; top:0px;width: 12px;height: 12px;}
75%  {background: white; left:0px; top:0px;width: 8px;height: 8px;}
100% {background: white; left:0px; top:0px;width: 5px;height: 5px;}
    }

@-webkit-keyframes ball7_animation{
0%  {background:white; left:180px; top:290px;width: 5px;height: 5px;}
25%  {background: white; left:180px; top:290px;width: 8px;height: 8px;}
50%  {background: white; left:180px; top:290px;width: 12px;height: 12px;}
75%  {background: white; left:180px; top:290px;width: 8px;height: 8px;}
100% {background: white; left:180px; top:290px;width: 5px;height: 5px;}
    }

#frame1{
    position: absolute;
    top:345px;
    left: 15px;
    width: 50px;
    height: 20px;
}
#frame2{
    position: absolute;
    top:253px;
    left: 238px;
    width: 50px;
    height: 20px;
}
#frame3{
    position: absolute;
    top:345px;
    left: 145px;
    width: 50px;
    height: 20px;
}
#frame4{
    position: absolute;
    top:223px;
    left: 180px;
    width: 50px;
    height: 20px;
}
#frame5{
    position: absolute;
    top:245px;
    left: 110px;
    width: 50px;
    height: 20px;
}
#frame6{
    position: absolute;
    top:300px;
    left: 105px;
    width: 50px;
    height: 20px;
}
*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
body{
    font-family:"microsoft yahei";
}
.swiper-container {
    /*  width: 320px;
      height: 480px;*/
    width: 100%;
    height: 100%;
    background:#fff;

}
@media(min-width: 321px){
    #map_cover{-webkit-transform:scale(1.2,1.2);position:absolute;top:0px;left: 0px;}
    #map_box_1{margin-left: -5px;}
    #map_box_2{margin-left: -5px;}
    #map_box_3{margin-left: -5px;}
    #map_box_4{margin-left: -5px;}
    #map_box_5{margin-left: -5px;}
    #map_box_6{margin-left: -5px;}
}
@media(min-width: 400px){
    #map_cover{-webkit-transform:scale(1.3,1.3);position:absolute;top:0px;left: 0px;}

}
.swiper-slide{
    width:100%;
    height:100%;
}
img{
    display:block;
}
.s0{
    background: url("../img/cover.png") no-repeat left top;
    background-size: 100% 100%;
}
.s1{
background-color: black;   background-size: 100% 100%;
}
.s2{
background-color: black;    background-size: 100% 100%;
}
.s3{
background-color: black;    background-size: 100% 100%;
}
.s4{
background-color: black;    background-size: 100% 100%;
}
.s5{
/*background:url("../img/5_map.png");    background-size: 100% 100%;
overflow: hidden;*/
}

#ball1{
    -webkit-animation: ball1_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball2{
    -webkit-animation: ball2_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball3{
    -webkit-animation: ball3_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball4{
    -webkit-animation: ball4_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball5{
    -webkit-animation: ball5_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball6{
    -webkit-animation: ball6_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}
#ball7{
    -webkit-animation: ball7_animation 2s infinite linear;
    position: relative;
    border-radius: 50%;
}


.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: .4;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
/*@media (max-height:673px){
    .resize{-webkit-transform:scale(0.88,0.88)translateY(-45px);}
}*/
@-webkit-keyframes tipmove{0%{bottom:10px;opacity:0}50%{bottom:15px;opacity:1}100%{bottom:20px;opacity:0}}
.ani{
    position:absolute;
}
.txt{
    position:absolute;
}
#array{
    position:absolute;z-index:999;-webkit-animation: tipmove 1.5s infinite ease-in-out;
}